/*
  This one CSS file is imported into both index.html AND hosono.html so you need to be careful that it 
  works for both.
*/

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

:root{
  /* first two colours come from Kuroi's Manga Pallete Palette */
  /* https://lospec.com/palette-list/manga-pallete */
  --col-01:#171219;
  --col-02:#f2fbeb;
  --col-03:#5252ff;
  --col-04:#b6e878;
  font-size: 16px;
  /* scroll behaviour makes the <a> links to ids scroll to position over time rather than immediately */
  scroll-behavior: smooth;
}


body{
  padding: 1rem;
  background-color: var(--col-02);
  color: var(--col-01);
  transition: background-color 0.5s linear;
  transition: color 0.5s linear;

}

a {
  color: var(--col-01);
}

a:hover{
  color: var(--col-03);
}

nav {
  margin-top: 2rem;
  cursor: pointer;
}

nav:hover {
  background-color: #ddd;
}

nav li{
  font-size: 1rem;
  
}

section{
  margin-bottom: 2rem;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

p{
  font-size: 1rem;
  margin-top: 1rem;
}

figcaption{
  width: fit-content;
}

dl ul{
  margin-bottom: 0;
}

li{
  font-size: 1rem;
}

dd{
  padding-left: 60px;
}

li ul{
  padding-left: 40px;
}

.img-wrapper{
  width: 100%;
  margin-bottom: 1.5rem;
}

.img-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img{
  width: 80%;
}

.res-columns{
  column-width: 25rem;
}

#mode-button{
  float: right;
  /* note the use of position: sticky to keep the button on the page even with scrolling */
  position: sticky;
  top: 1rem;
  background-color: var(--col-01);
  color: var(--col-02);
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
}

#mode-button:hover{
  color: var(--col-03);
}

/* code for loading page */

#load-body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* changing button to look like a link */
#load-link{
  line-height: 1rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  animation: mrload 5s;



}
#load-throbber {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #eee;
  border-top-color: #dffaec;
  animation: spin 1s infinite linear;
}

#load-throbber {
  display: none;
}

#load-throbber.show {
  display: block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}



/* Media Queries */

/* medium devices 600 - 992 */
@media only screen and (min-width: 600px) {
  :root{
    font-size: 20px;
  }
  
  .img-wrapper{
    width: 75%;
    margin: 1.5rem auto;
  }

}

/* medium devices 992 + */
@media only screen and (min-width: 992px) {
  :root{
    font-size: 24px;
  }

  .img-wrapper{
    max-width: fit-content;
    float: right;
    margin: 1.5rem;
  }

}

@media (prefers-reduced-motion) {
  :root{
    scroll-behavior: auto;
  }


}